body {
font-size: 1.4rem;

}
p {
margin-bottom: 1.4rem;
}

.post__content img {
margin-top: 3em;
margin-bottom: 3em;
}

blockquote {
margin-top: 3em;
margin-bottom: 3em;
}

.theme--dark .body, .theme--dark .post, .theme--dark .header, .theme--dark .nav__list {
	/*background-color: #100808;*/
}

.sidebar__introduction-title {
	text-transform: none;
}

* {
font-family: monospace;

}

.post {
margin: 30px 80px;
}

@media screen and (min-width: 961px) {
.nav__list {
    padding: 24px 80px;
}
.wrapper__sidebar {
	width: calc(0.35 * 100%);
}
.sidebar, .theme--dark .sidebar {
	border-right: none;

}
}
